.timer {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #212121;
  border-radius: 2px;
}

.value {
  margin-bottom: 15px;
  font-family: 'Roboto Mono', monospace;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 24px;
}

.timer .label {
  display: grid;
  font-size: 25px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

.field {
  margin-right: 30px;
}
